#about,
#features {
  background-color: #030308;
  padding: 40px;
}

#about .mainHeader,
#features .mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#about .mainHeader h2,
#features .mainHeader h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

#about .mainHeader a,
#features .mainHeader a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  border: 1px solid transparent;
  padding: 12px 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

#about .mainHeader a:hover,
#features .mainHeader a:hover {
  border-color: #fff;
  box-shadow: none;
}

#about .mainCard,
#features .mainCard {
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  display: flex;
  gap: 35px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  border-color: #0350a8;
}
#about .mainCard img {
  max-width: 200px;
  max-height: 200px;
}

#about .mainCard .mainInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#about .mainCard .mainInfo h2,
#features .mainCard .mainInfo h2 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Ubuntu';
}

#about .mainCard .mainInfo p,
#features .mainCard .mainInfo p {
  color: #ccc;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
#about .mainCard .mainInfo span,
#features .mainCard .mainInfo span {
  color: #ccc;
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 40px;
}
#features .featurescards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

#features .featurescards .mainCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 250px;
}

#features .featurescards .mainCard .mainInfo i {
  color: #fff;
  font-size: 8rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1.4rem;
}

#features .featurescards .mainCard .mainInfo h2 {
  text-align: center;
}

#features .featurescards .mainCard .mainInfo p {
  font-size: 1.3rem;
  margin-bottom: 28px;
}

.modal {
  position: fixed;
  top: 25%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  min-height: 450px;
  background-color: #133a74;
  border: 1px solid transparent;
  border-radius: 5%;
  transform-origin: center center;
  transform: scale(1);
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  z-index: 5;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalContact {
  position: fixed;
  top: 25%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  min-height: 300px;
  background-color: #030308;
  border: 1px solid transparent;
  border-radius: 5%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transform-origin: center center;
  transform: scale(1);
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  z-index: 1;
  border-color: #0350a8;
}
.modalContactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.contacttitle {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Ubuntu';
}
.contactmail {
  color: #ccc;
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 30px;
}

.close,
.closemodal {
  top: 5%;
  right: 5%;
  position: absolute;
  cursor: pointer;
  color: #fff;
}

.mainBtn {
  text-decoration: none;
  background-color: #030308;
  color: black;
  padding: 18px 0px;
  border: 1px solid transparent;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width: 80%;
  margin-top: 13px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: 'Ubuntu';
  border-color: #0350a8;
}
.mainBtn:hover,
.mainBtn:focus {
  background-color: #0350a8;
  box-shadow: none;
}

.modalcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
.mainButton {
  text-decoration: none;
  background-color: #030308;
  font-size: 1.4rem;
  color: #fff;
  border: 1px solid transparent;
  padding: 12px 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  transition: all 0.3s ease;
  font-weight: bold;
  font-family: 'Ubuntu';
  cursor: pointer;
  border-color: #0350a8;
}
.mainButton:hover,
.mainButton:focus {
  background-color: #042c58;
  box-shadow: none;
}

.btAnimation::before {
  content: '';
  background-color: red;
  transform: scaleX(0);
}
.btnAnimation:hover::before {
  transform: scaleX(1);
}

.mainBtn {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  background-color: #012752;
  border: 1px solid transparent;
  padding: 12px 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  transition: all 0.3s ease;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Ubuntu';
}

.mainBtn:hover,
.mainBtn:focus {
  border-color: #0350a8;
  box-shadow: none;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
}

@media screen and (max-width: 720px) {
  header .infotext h1 {
    font-size: 4rem;
  }
  header .infotext h3 {
    font-size: 1.1rem;
  }

  #about .mainCard {
    flex-direction: column;
    align-items: center;
  }

  #about .mainCard img {
    max-width: 150px;
    max-height: 150px;
  }
}

@media screen and (min-width: 780px) {
  .modal {
    width: 50%;
    left: 25%;
  }
  .modalContact {
    width: 40%;
    left: 30%;
  }
  #features .featurescards .mainCard {
    min-width: 350px;
  }
  #about .mainCard .mainInfo span,
  #features .mainCard .mainInfo span {
    height: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .modalContact {
    width: 25%;
    left: 37%;
  }
  #about .mainCard .mainInfo span,
  #features .mainCard .mainInfo span {
    height: 350px;
  }
}
